{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "https://@@MATRIX_FQDN@@",
      "server_name": "@@SERVER_NAME@@"
    }
  },
  "brand": "Element",
  "show_labs_settings": false,
  "integrations_ui_url": "",
  "integrations_rest_url": "",
  "integrations_widgets_urls": [],
  "default_country_code": "US",
  "disable_custom_urls": false,
  "disable_guests": true,
  "default_theme": "light",
  "element_call": {
    "url": "@@ELEMENT_CALL_URL@@",
    "use_exclusively": true,
    "brand": "Element Call"
  }
}
